<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>
                    <%= title %>
                </h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="/">Home</a></li>
                    <li><a href="/create-artist-cache">Create Artist In Redis Cache</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <h2>Productive Artists</h2>
        <% if (artists.length===0) { %>
            <p>No artists found.</p>
            <% } else { %>
                <% artists.forEach(function(artist){ %>
                    <div class="artist-card">
                        <h3>
                            <%= artist.artistName %>
                        </h3>
                        <p>artistID: <%= artist.artistID %>
                        </p>
                        <div>
                            <% if (artist.artworkIDs && Array.isArray(artist.artworkIDs)) { %>
                                <h4>Artworks:</h4>
                                <ul>
                                    <% artist.artworkIDs.forEach(function(artworkId) { %>
                                        <li>
                                            <%= artworkId %>
                                        </li>
                                        <% }); %>
                                </ul>
                                <% } else { %>
                                    <p>No artworks available for this artist.</p>
                                    <% } %>
                        </div>
                        <a href="/update-productive-artist/<%= artist.artistID %>/<%= artist.artistName %>"
                            class="btn">Update</a>
                        <button class="btn"
                            onclick="deleteArtwork('<%= artist.artistID %>', '<%= artist.artistName %>')">Delete</button>

                    </div>
                    <% }); %>
                        <% } %>
    </div>

    <footer>
        <div> Made by Yuting</div>
    </footer>

    <script>
        function deleteArtwork(artistID, artistName) {
            if (confirm('Are you sure you want to delete this productive artist in Redis?')) {
                fetch(`/productive-artist/${artistID}/${artistName}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload();
                        } else {
                            alert('Error deleting productive artist.');
                        }
                    })
                    .catch(err => console.error('Error:', err));
            }
        }
    </script>
</body>

</html>